---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import HomepageHero from '../components/HomepageHero.astro';
import Products from '../components/Products.astro';
import AboutSection from '../components/AboutSection.astro';
import RecentContent from "../components/RecentContent.astro"

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<HomepageHero />
	<Products />
	<AboutSection />
	<RecentContent />
<a href="https://drive.google.com/file/d/1bID_Kn6zVUI0V7pOAcmd5F5HPbEIziih/view?usp=sharing">LinkForSophia</a>
</Layout>
