<!-- Footer -->
<footer class="bg-light text-center py-4 pink-footer" id="contact">
      <div class="container">
        <h1 class="display-6 sophiengineer-handwritten fw-bold mt-3">
            Follow Along With The Journey!
        </h1>
        <a href="https://www.youtube.com/@sophiengineer" target="_blank" class="btn btn-light btn-lg mt-3"><i class="fa-brands fa-youtube"></i></a>
        <a href="https://www.instagram.com/sophiengineer.io" target="_blank" class="btn btn-light btn-lg mt-3"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://www.threads.com/@sophiengineer.io" target="_blank" class="btn btn-light btn-lg mt-3"><i class="fa-brands fa-threads"></i></a>
        <a href="https://www.facebook.com/sophiengineer/" target="_blank" class="btn btn-light btn-lg mt-3"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://medium.com/@sophiengineerstudios" target="_blank" class="btn btn-light btn-lg mt-3"><i class="fa-brands fa-medium"></i></a>
        <a href="https://www.pinterest.com/sophiengineer/" target="_blank" class="btn btn-light btn-lg mt-3"><i class="fa-brands fa-pinterest"></i></a>
        <a href="https://ko-fi.com/sophiengineer" target="_blank" class="btn btn-light btn-lg mt-3"><i class="fa-brands fa-ko-fi"></i></a>
        <p class="mb-0 mt-4">© 2026 Sophiengineer Studios, LLC. All rights reserved.</p>
    </div>
</footer>