<!-- Hero -->
<section class="hero">
  <div class="container">
    <h1 class="display-4 fw-bold">Beautiful Things for Curious Humans</h1>
    <p class="lead mt-3"> 
      > designed with intention; 
      <br> 
      > built in public;
      <br>
      > developed with care;
    </p>
    <a href="#products" class="btn btn-light btn-lg mt-2">Discover Something Cool!</a>
  </div>
</section>